@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
    font-family: 'Do Hyeon', sans-serif;
    background-color: #37668f;
}

h1 {
    padding-top: 100px;
    color: #ffffff;
    font-size: 20px
}

h2 {
    color: #ffffff;
    font-size: 50px
}

h1, h2 {
    padding-left: 50px;
}

.group {
    display: flex;
    justify-content: center;
}

h3, h4, h5 {
    font-size: 25px;
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    font-size: 15px;
    padding: 15px;
    width: 500px;
    height: 80px;
    border: 2px solid #ffffff;
}

.btn {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 200px;
    height: auto;
}